<ul>
    <li><a routerLink="">Principal</a></li>
    <li><a routerLink="login">Loguearme</a></li>
    <li><a routerLink="registro">Registrarme</a></li>
    <li><a routerLink="sumador">Sumador</a></li>
    <li><a routerLink="factura">Factura</a></li>
    <li><a routerLink="personas">Personas</a></li>
    
    <p><a routerLink="listaProducto">Lista</a> <a routerLink="producto"> nuevo </a>
        <li><a routerLink="about.asp">About</a></li>
    
    <li style="float:right"><a class="active" href="#about">About</a></li>
</ul>